/* Typography */
:root {
  --main-bg-color: #1E97EF;
  --secondary-bg-color: #000000;
  --main-txt-color: #ffffff;
  --main-ff: 'Audiowide', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main-ff);
}
.float-left {
  float: left;
}
a {
  color: #ffffff;
}
/* Fixed layout for the application */
#app {
  max-width: 380px;
  background: #000000;
  border: 2px solid var(--main-bg-color);
}
/* Header styling */
header h1 {
  background: var(--main-bg-color);
  color: var(--main-txt-color);
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}
header h1 a {
  text-decoration: none;
}
/* Main game area styling */
div {
  color: white;
}
button {
  font-family: var(--main-ff);
  display: block;
  margin: .5em auto 0;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .8em;
  border-radius: .5em;
  width: 150px;
  background-color: var(--main-bg-color);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 500px;
}
.instruction h1, .instruction p, .instruction button {
  margin-bottom: 30px;
}
.instruction h1 {
  font-size: 2rem;
  text-align: center;
}
.instruction p {
  font-size: 1.1rem;
  text-align: justify;
}
.mobile {
  display: flex;
  max-width: 350px;
  justify-content: space-between;
  margin: 1.5em auto;
  opacity: 1;
  transition: .5s;
  transition-timing-function: ease-in-out;
}
.fade {
  opacity: 0;
}
.mobile h2 {
  margin-bottom: .5em;
}
.player_circle--mobile {
  height: 40px;
  width: 40px;
  display: block;
  margin: .5em auto 0;
}
.restart_img--mobile {
  transition: 1s;
  transform: rotate(50deg);
}
.restart_img--rotate {
  transform: rotate(-300deg);
}
.underline {
  transition: .5s;
  height: 3px;
  width: 50px;
  position: absolute;
  bottom: 470px;
  left: 40px;
  background-color: var(--main-txt-color);
}
.turn {
  position: absolute;
  left: 280px;
}
.bottom {
  width: 350px;
  text-align: center;
  position: absolute;
  bottom: 40px;
}
article {
  height: 600px;
  padding: 0.5rem;
  position: relative;
}
.article_mobile {
  height: 100vh;
}
/* Footer styling */
footer {
  background: var(--main-bg-color);
  color: var(--main-txt-color);
  font-size: 0.6rem;
  padding: 0.2rem 0.3rem;
}
footer:after {
  content: " ";
  display: table;
  clear: both;
}
